[build]
  publish = "."

[[redirects]]
  from = "/api/*"
  to = "https://api.exemplo.com/:splat"
  status = 200

# SPA fallback
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[headers]
  for = "/service-worker.js"
  [headers.values]
    cache-control = "public, max-age=0, must-revalidate"